<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoki.zj.pay.mapper.PayBillMapper">
    <!-- 1.添加save -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_pay_bill (digest, money, state, lastPayTime, payChannel, createTime, updateTime, user_id, nickName, unionPaySn, businessType, businessKey, shop_id, orderSn)
        VALUES (
            #{digest},
            #{money},
            #{state},
            #{lastPayTime},
            #{payChannel},
            #{createTime},
            #{updateTime},
            #{user_id},
            #{nickName},
            #{unionPaySn},
            #{businessType},
            #{businessKey},
            #{shop_id},
            #{orderSn}
        );
    </insert>

    <!--
        2.根据订单号查询支付单信息
        PayBill loadByOrderSn(String trade_no);
    -->
    <select id="loadByOrderSn" resultType="PayBill">
        SELECT *
        FROM t_pay_bill
        WHERE orderSn = #{orderSn}
    </select>

    <!-- 3.更新支付单,状态/修改时间/支付编号 -->
    <update id="update">
        UPDATE t_pay_bill
        SET state      = #{state},
            updateTime = #{updateTime},
            unionPaySn = #{unionPaySn}
        WHERE id = #{id};
    </update>
</mapper>