<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoki.zj.order.mapper.AdoptMapper">
    <!-- 1.创建领养订单save -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_order_adopt (digest, state, price, orderSn, paySn, lastPayTime, lastConfirmTime, pet_id, user_id, shop_id, address_id)
        VALUES (
            #{digest},
            #{state},
            #{price},
            #{orderSn},
            #{paySn},
            #{lastPayTime},
            #{lastConfirmTime},
            #{pet_id},
            #{user_id},
            #{shop_id},
            #{address_id}
        );
    </insert>

    <!--
        2.根据交易订单号查询订单对象
        AdoptOrder loadByOrderSn(String orderSn);
    -->
    <select id="loadByOrderSn" resultType="AdoptOrder">
        SELECT *
        FROM t_order_adopt
        WHERE orderSn = #{orderSn}
    </select>

    <!--
        3.更新领养订单状态和支付编号
    -->
    <update id="update">
        UPDATE t_order_adopt
        SET
            state = #{state},
            paySn = #{paySn}
        WHERE id = #{id}
    </update>
</mapper>