<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoki.zj.login.mapper.LoginInfoMapper">
    <!-- void save(LoginInfo loginInfo); -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_logininfo (username, phone, email, password, type, disable, salt, uid)
        VALUES (
            #{username},
            #{phone},
            #{email},
            #{password},
            #{type},
            #{disable},
            #{salt},
            #{uid}
        )
    </insert>

    <!-- loginInfoMapper.update(loginInfo); -->
    <update id="update">
        update t_logininfo
        SET username=#{username},
            phone=#{phone},
            email=#{email},
            password=#{password},
            type=#{type},
            disable=#{disable},
            salt=#{salt},
            uid=#{uid}
        where uid = #{uid}
    </update>

    <!--前台:根据用户名或邮箱或手机查询所有激活的LoginInfo
    LoginInfo loadByUserNameOrEmailOrPhone(User user);-->
    <select id="loadByUserNameOrEmailOrPhone" resultType="LoginInfo">
        SELECT *
        FROM t_logininfo
        WHERE (username = #{username} OR email = #{username} OR phone = #{username})
              AND disable = 1 AND type = 1
    </select>

    <!--
        查询后台用户的登录信息
        LoginInfo loadByUidOfEmp(Long id);
     -->
    <select id="loadByUidOfEmp" resultType="LoginInfo">
        SELECT *
        FROM t_logininfo
        WHERE uid=#{id}
    </select>

    <!--
        根据uid查询登录信息
        LoginInfo loadByUid(Long id);
     -->
    <select id="loadByUid" resultType="LoginInfo">
        SELECT *
        FROM t_logininfo
        WHERE uid=#{id} AND disable = 1
    </select>

    <!--
        根据后台用户名查询
        LoginInfo loadByUserNameOfEmp(String username);
     -->
    <select id="loadByUserNameOfEmp" resultType="LoginInfo">
        SELECT * FROM t_logininfo
        WHERE username=#{username} AND disable = 1
    </select>
</mapper>